# LIMPIEZA Y TRATAMIENTO DE LOS DATOS

### 1. Importación de librerías

In [22]:
# Librerias
import pandas as pd
import numpy as np

### 2. Cargar los datos

In [23]:
df = pd.read_excel(r'the_only_excel.xlsx')
df = df.drop(['N', 'NOTAS', 'TDUPLI.r1'], axis=1)
print(df)

      FECHACIR  EDAD  ETNIA  OBESO  HTA  DM  TABACO  HEREDA  TACTOR  PSAPRE  \
0   2009-09-07    65      1      3    2   2       1       2       1    5.46
1   2013-11-20    68      1      1    2   2       2       2       1    7.56
2   2008-09-11    70      1      1    1   2       4       3       1    6.81
3   2010-03-14    68      1      2    1   2       5       2       1    7.03
4   2010-09-12    70      1      2    1   2       2       2       1    8.26
..         ...   ...    ...    ...  ...  ..     ...     ...     ...     ...
264 2013-06-12    63      1      2    2   2       1       2       1   10.55
265 2015-11-16    59      1      3    2   1       2       1       1   11.85
266 2010-05-24    64      1      3    2   2       1       2       2   11.48
267 2014-07-17    68      1      2    2   2       1       2       1    7.01
268 2012-02-13    54      1      3    2   2       2       2       2   14.96

     ...  SPINK1  C-MYC   IMC  ASA  GR  PNV     TQ  TH  NGG  PGG
0    ...     0.0    1.0  31.6  NaN   2  NaN  360.0   5    0  0.0
1    ...     0.0    0.0  23.1  2.0   2  NaN  180.0   3    0  0.0
2    ...     0.0    1.0  24.4  3.0   1  NaN  270.0   5    0  0.0
3    ...     0.0    0.0  26.3  2.0   2  NaN  300.0   5    0  0.0
4    ...     1.0    1.0  27.4  2.0   2  NaN  300.0   5    0  0.0
..   ...     ...    ...   ...  ...  ..  ...    ...  ..  ...  ...
264  ...     0.0    1.0  29.0  3.0   2  NaN  310.0   4    0  0.0
265  ...     0.0    1.0  32.0  2.0   2  NaN  300.0   7    0  0.0
266  ...     0.0    1.0   NaN  1.0   0  NaN  360.0  11    0  0.0
267  ...     0.0    1.0  28.3  1.0   2  NaN  360.0   6    0  0.0
268  ...     0.0    1.0  34.7  1.0   2  NaN  290.0   5    0  0.0

[269 rows x 66 columns]

### 3. Análisis del conjunto de datos

In [24]:
# Dimensiones del dataset
df.shape

(269, 66)

In [25]:
df.head()

,FECHACIR,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,...,SPINK1,C-MYC,IMC,ASA,GR,PNV,TQ,TH,NGG,PGG
0,2009-09-07,65,1,3,2,2,1,2,1,5.46,...,0.0,1.0,31.6,NaN,2,NaN,360.0,5,0,0.0
1,2013-11-20,68,1,1,2,2,2,2,1,7.56,...,0.0,0.0,23.1,2.0,2,NaN,180.0,3,0,0.0
2,2008-09-11,70,1,1,1,2,4,3,1,6.81,...,0.0,1.0,24.4,3.0,1,NaN,270.0,5,0,0.0
3,2010-03-14,68,1,2,1,2,5,2,1,7.03,...,0.0,0.0,26.3,2.0,2,NaN,300.0,5,0,0.0
4,2010-09-12,70,1,2,1,2,2,2,1,8.26,...,1.0,1.0,27.4,2.0,2,NaN,300.0,5,0,0.0

In [26]:
# Tipo de cada columna
df.info

<bound method DataFrame.info of       FECHACIR  EDAD  ETNIA  OBESO  HTA  DM  TABACO  HEREDA  TACTOR  PSAPRE  \
0   2009-09-07    65      1      3    2   2       1       2       1    5.46
1   2013-11-20    68      1      1    2   2       2       2       1    7.56
2   2008-09-11    70      1      1    1   2       4       3       1    6.81
3   2010-03-14    68      1      2    1   2       5       2       1    7.03
4   2010-09-12    70      1      2    1   2       2       2       1    8.26
..         ...   ...    ...    ...  ...  ..     ...     ...     ...     ...
264 2013-06-12    63      1      2    2   2       1       2       1   10.55
265 2015-11-16    59      1      3    2   1       2       1       1   11.85
266 2010-05-24    64      1      3    2   2       1       2       2   11.48
267 2014-07-17    68      1      2    2   2       1       2       1    7.01
268 2012-02-13    54      1      3    2   2       2       2       2   14.96

     ...  SPINK1  C-MYC   IMC  ASA  GR  PNV     TQ  TH  NGG  PGG
0    ...     0.0    1.0  31.6  NaN   2  NaN  360.0   5    0  0.0
1    ...     0.0    0.0  23.1  2.0   2  NaN  180.0   3    0  0.0
2    ...     0.0    1.0  24.4  3.0   1  NaN  270.0   5    0  0.0
3    ...     0.0    0.0  26.3  2.0   2  NaN  300.0   5    0  0.0
4    ...     1.0    1.0  27.4  2.0   2  NaN  300.0   5    0  0.0
..   ...     ...    ...   ...  ...  ..  ...    ...  ..  ...  ...
264  ...     0.0    1.0  29.0  3.0   2  NaN  310.0   4    0  0.0
265  ...     0.0    1.0  32.0  2.0   2  NaN  300.0   7    0  0.0
266  ...     0.0    1.0   NaN  1.0   0  NaN  360.0  11    0  0.0
267  ...     0.0    1.0  28.3  1.0   2  NaN  360.0   6    0  0.0
268  ...     0.0    1.0  34.7  1.0   2  NaN  290.0   5    0  0.0

[269 rows x 66 columns]>

In [27]:
# Resumen estadístico
df.describe(include="all", datetime_is_numeric=True)

,FECHACIR,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,...,SPINK1,C-MYC,IMC,ASA,GR,PNV,TQ,TH,NGG,PGG
count,269,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,...,98.000000,98.000000,253.000000,264.000000,269.000000,48,260.000000,269.000000,269.0,269.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,11.0,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,SI,NaN,NaN,0.0,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,259.0,NaN
mean,2012-08-19 06:46:50.408921856,62.115242,1.037175,1.996283,1.620818,1.888476,2.092937,1.869888,1.342007,7.102230,...,0.285714,0.612245,28.147431,2.011364,1.672862,NaN,280.326923,5.836431,NaN,0.001134
min,2008-07-22 00:00:00,44.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.890000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,NaN,0.000000
25%,2011-02-14 00:00:00,58.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.980000,...,0.000000,0.000000,25.700000,2.000000,2.000000,NaN,250.000000,5.000000,NaN,0.000000
50%,2012-10-03 00:00:00,63.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,6.100000,...,0.000000,1.000000,27.800000,2.000000,2.000000,NaN,282.500000,5.000000,NaN,0.000000
75%,2014-05-09 00:00:00,67.000000,1.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,7.990000,...,1.000000,1.000000,30.400000,2.000000,2.000000,NaN,310.000000,6.000000,NaN,0.000000
max,2015-11-16 00:00:00,78.000000,3.000000,3.000000,2.000000,2.000000,5.000000,3.000000,3.000000,27.000000,...,1.000000,1.000000,46.000000,4.000000,2.000000,NaN,400.000000,32.000000,NaN,0.250000
std,NaN,6.745210,0.241484,0.784639,0.486088,0.315367,1.258815,0.347948,0.574766,3.577023,...,0.454077,0.489743,4.574667,0.666886,0.632491,NaN,51.224587,2.794453,NaN,0.015595

In [28]:
df['PORCENT'] = df['PORCENT'] / 100
df['VOLUMEN'] = df['VOLUMEN'] / 100

In [29]:
# Mostrar las columnas con valores faltantes (NaN), iguales o mayores al 50%
for column in df:
    sum_na_values = df[column].isna().sum()
    if sum_na_values > 0:
        percent = sum_na_values/len(df)
        
        if(percent >= 0.5):
            print(column, ":", percent)

RTPMES : 0.8736059479553904
TRBQ : 0.8438661710037175
TDUPLI : 0.6356877323420075
T1MTX : 0.9888475836431226
TSUPERV : 0.9888475836431226
TSEGUI : 0.6356877323420075
PSAFIN : 0.6394052044609665
RA nuclear : 0.6356877323420075
RA estroma : 0.6505576208178439
PTEN : 0.6356877323420075
ERG : 0.6356877323420075
KI-67 : 0.6356877323420075
SPINK1 : 0.6356877323420075
C-MYC : 0.6356877323420075
PNV : 0.8215613382899628

In [30]:
# Eliminar las columnas con valores faltantes (NaN), iguales o mayores al 50%
clean_df = df.drop(['RTPMES', 'TRBQ', 'TDUPLI', 'T1MTX', 'TSUPERV', 'TSEGUI', 'PSAFIN', 'RA nuclear', 'RA estroma', 'PTEN', 'ERG', 'KI-67', 'SPINK1', 'C-MYC', 'PNV'], axis=1)

In [31]:
# Si hay algun campo sin datos, lo rellenamos con la mediana de la columna
for column in clean_df:
    if(clean_df[column].isnull().values.any()):
        median = clean_df[column].median()
        clean_df[column].fillna(median, inplace=True)

In [33]:
clean_df.describe()

,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,PSALT,...,RBQ,t.seg,FALLEC,CAPRA-S,IMC,ASA,GR,TQ,TH,PGG
count,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,...,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000,269.000000
mean,62.115242,1.037175,1.996283,1.620818,1.888476,2.092937,1.869888,1.342007,7.102230,0.201115,...,1.907063,62.609812,1.951673,3.193309,28.126766,2.011152,1.672862,280.399628,5.836431,0.001134
std,6.745210,0.241484,0.784639,0.486088,0.315367,1.258815,0.347948,0.574766,3.577023,0.155072,...,0.459869,27.369929,0.214856,2.578577,4.436773,0.660638,0.632491,50.358650,2.794453,0.015595
min,44.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.890000,0.010000,...,1.000000,2.203947,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,58.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.980000,0.140000,...,2.000000,41.743421,2.000000,1.000000,25.900000,2.000000,2.000000,250.000000,5.000000,0.000000
50%,63.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,6.100000,0.170000,...,2.000000,60.427632,2.000000,3.000000,27.800000,2.000000,2.000000,282.500000,5.000000,0.000000
75%,67.000000,1.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,7.990000,0.200000,...,2.000000,80.789474,2.000000,5.000000,30.100000,2.000000,2.000000,310.000000,6.000000,0.000000
max,78.000000,3.000000,3.000000,2.000000,2.000000,5.000000,3.000000,3.000000,27.000000,0.990000,...,3.000000,126.776316,2.000000,11.000000,46.000000,4.000000,2.000000,400.000000,32.000000,0.250000

In [36]:
clean_df.info

<bound method DataFrame.info of       FECHACIR  EDAD  ETNIA  OBESO  HTA  DM  TABACO  HEREDA  TACTOR  PSAPRE  \
0   2009-09-07    65      1      3    2   2       1       2       1    5.46
1   2013-11-20    68      1      1    2   2       2       2       1    7.56
2   2008-09-11    70      1      1    1   2       4       3       1    6.81
3   2010-03-14    68      1      2    1   2       5       2       1    7.03
4   2010-09-12    70      1      2    1   2       2       2       1    8.26
..         ...   ...    ...    ...  ...  ..     ...     ...     ...     ...
264 2013-06-12    63      1      2    2   2       1       2       1   10.55
265 2015-11-16    59      1      3    2   1       2       1       1   11.85
266 2010-05-24    64      1      3    2   2       1       2       2   11.48
267 2014-07-17    68      1      2    2   2       1       2       1    7.01
268 2012-02-13    54      1      3    2   2       2       2       2   14.96

     ...       t.seg  FALLEC  CAPRA-S   IMC  ASA  GR     TQ  TH  NGG  PGG
0    ...  108.552632     2.0        7  31.6  2.0   2  360.0   5    0  0.0
1    ...   62.598684     2.0        7  23.1  2.0   2  180.0   3    0  0.0
2    ...  115.361842     1.0        2  24.4  3.0   1  270.0   5    0  0.0
3    ...  104.835526     2.0        4  26.3  2.0   2  300.0   5    0  0.0
4    ...   44.144737     1.0        4  27.4  2.0   2  300.0   5    0  0.0
..   ...         ...     ...      ...   ...  ...  ..    ...  ..  ...  ...
264  ...   71.315789     2.0       10  29.0  3.0   2  310.0   4    0  0.0
265  ...   39.671053     2.0        6  32.0  2.0   2  300.0   7    0  0.0
266  ...   39.605263     2.0        7  27.8  1.0   0  360.0  11    0  0.0
267  ...   31.907895     2.0        4  28.3  1.0   2  360.0   6    0  0.0
268  ...   82.730263     2.0       10  34.7  1.0   2  290.0   5    0  0.0

[269 rows x 51 columns]>

In [51]:
# Exportar dataframe limpiado a un csv
clean_df.to_csv('clean_data.csv')