# LIMPIEZA Y TRATAMIENTO DE LOS DATOS

### 1. Importación de librerías

In [103]:
# Librerias
import pandas as pd
import numpy as np
import sqlalchemy as sqla

### 2. Cargar los datos

In [104]:
# df = pd.read_excel(r'the_only_excel.xlsx')
engine = sqla.create_engine('mysql://root:@localhost/tfg_bd', echo = False)
query = "SELECT * FROM patients"
df = pd.read_sql(query, engine)        
print(df)

       N   FECHACIR  EDAD  ETNIA  OBESO  HTA  DM  TABACO  HEREDA  TACTOR  ...  \
0      1 2009-09-07    65      1      3    2   2       1       2       1  ...
1      2 2011-05-18    74      1      2    2   2       2       2       1  ...
2      3 2009-04-01    70      1      2    1   2       1       2       2  ...
3      4 2014-09-09    67      1      2    1   2       1       2       1  ...
4      5 2011-11-21    67      1      1    2   1       1       2       1  ...
..   ...        ...   ...    ...    ...  ...  ..     ...     ...     ...  ...
199  200 2015-03-17    56      1      3    2   2       2       2       1  ...
200  201 2014-09-15    68      1      2    1   2       1       2       2  ...
201  202 2013-04-02    64      1      3    1   2       2       2       2  ...
202  203 2009-04-23    59      1      3    1   2       2       2       1  ...
203  204 2010-05-24    64      1      3    2   2       1       2       2  ...

     KI-67  SPINK1  C-MYC         NOTAS   IMC  ASA  GR  PNV  TH   PGG
0      0.0     0.0    1.0   RTP Marañon  31.6  NaN   2  NaN   5  0.00
1      0.0     0.0    1.0      HUIL BHC  27.4  2.0   2  NaN   7  0.00
2      1.0     0.0    1.0   RTP Marañon  30.0  2.0   2  NaN   6  0.00
3      1.0     0.0    1.0   RTP Marañon  28.7  2.0   1  NaN   5  0.00
4      1.0     0.0    1.0          HUIL  24.3  2.0   2  NaN   4  0.00
..     ...     ...    ...           ...   ...  ...  ..  ...  ..   ...
199    NaN     NaN    NaN          None  35.0  2.0   2  NaN   5  0.00
200    1.0     1.0    1.0          BHC   29.4  2.0   2  NaN   8  0.25
201    0.0     1.0    0.0           RTP  36.6  3.0   2  NaN   5  0.00
202    0.0     0.0    1.0           RTP  30.1  2.0   0  2.0   6  0.00
203    1.0     0.0    1.0  perdida, MTX   NaN  1.0   0  NaN  11  0.00

[204 rows x 65 columns]

In [105]:
df.columns

Index(['N', 'FECHACIR', 'EDAD', 'ETNIA', 'OBESO', 'HTA', 'DM', 'TABACO',
       'HEREDA', 'TACTOR', 'PSAPRE', 'PSALT', 'TDUPPRE', 'ECOTR', 'NBIOPSIA',
       'HISTO', 'GLEASON1', 'NCILPOS', 'BILAT', 'PORCENT', 'IPERIN', 'ILINF',
       'IVASCU', 'TNM1', 'HISTO2', 'GLEASON2', 'BILAT2', 'LOCALIZ', 'MULTIFOC',
       'VOLUMEN', 'EXTRACAP', 'VVSS', 'IPERIN2', 'ILINF2', 'IVASCU2', 'PINAG',
       'MARGEN', 'TNM2', 'PSAPOS', 'RTPADYU', 'RTPMES', 'RBQ', 'TRBQ', 'T1MTX',
       'FECHAFIN', 'T.SEG', 'FALLEC', 'TSUPERV', 'TSEGUI', 'PSAFIN', 'CAPRA-S',
       'RA-NUCLEAR', 'RA-ESTROMA', 'PTEN', 'ERG', 'KI-67', 'SPINK1', 'C-MYC',
       'NOTAS', 'IMC', 'ASA', 'GR', 'PNV', 'TH', 'PGG'],
      dtype='object')

In [106]:
df = df.drop(['N', 'NOTAS', 'FECHACIR', 'FECHAFIN'], axis=1)
df.head()

,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,PSALT,...,ERG,KI-67,SPINK1,C-MYC,IMC,ASA,GR,PNV,TH,PGG
0,65,1,3,2,2,1,2,1,5.46,0.85,...,0.0,0.0,0.0,1.0,31.6,NaN,2,NaN,5,0.0
1,74,1,2,2,2,2,2,1,13.34,NaN,...,0.0,0.0,0.0,1.0,27.4,2.0,2,NaN,7,0.0
2,70,1,2,1,2,1,2,2,6.47,0.10,...,1.0,1.0,0.0,1.0,30.0,2.0,2,NaN,6,0.0
3,67,1,2,1,2,1,2,1,8.99,0.19,...,0.0,1.0,0.0,1.0,28.7,2.0,1,NaN,5,0.0
4,67,1,1,2,1,1,2,1,7.96,0.21,...,1.0,1.0,0.0,1.0,24.3,2.0,2,NaN,4,0.0

### 3. Análisis del conjunto de datos

In [107]:
# Dimensiones del dataset
df.shape

(204, 61)

In [108]:
# Resumen estadístico
df.describe(include="all", datetime_is_numeric=True)

,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,PSALT,...,ERG,KI-67,SPINK1,C-MYC,IMC,ASA,GR,PNV,TH,PGG
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,132.000000,...,36.000000,36.000000,36.000000,36.000000,189.000000,200.000000,204.000000,42.000000,204.000000,204.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,61.926471,1.029412,2.004902,1.632353,1.901961,2.102941,1.862745,1.352941,6.862990,0.225985,...,0.361111,0.611111,0.277778,0.583333,28.392593,1.980000,1.627451,1.500000,5.955882,0.001495
std,6.598215,0.219981,0.784691,0.483351,0.298099,1.233439,0.344963,0.589682,3.510452,0.199434,...,0.487136,0.494413,0.454257,0.500000,3.952046,0.548731,0.679344,0.506061,3.017684,0.017904
min,46.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.890000,0.020000,...,0.000000,0.000000,0.000000,0.000000,19.700000,1.000000,0.000000,1.000000,4.000000,0.000000
25%,57.750000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.865000,0.107500,...,0.000000,0.000000,0.000000,0.000000,25.700000,2.000000,1.000000,1.000000,5.000000,0.000000
50%,63.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,5.990000,0.180000,...,0.000000,1.000000,0.000000,1.000000,27.800000,2.000000,2.000000,1.500000,5.000000,0.000000
75%,67.000000,1.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,7.747500,0.250000,...,1.000000,1.000000,1.000000,1.000000,30.400000,2.000000,2.000000,2.000000,6.000000,0.000000
max,78.000000,3.000000,3.000000,2.000000,2.000000,5.000000,2.000000,3.000000,27.000000,0.990000,...,1.000000,1.000000,1.000000,1.000000,46.000000,4.000000,2.000000,2.000000,32.000000,0.250000

In [109]:
# Eliminar las columnas con valores faltantes (NaN), iguales o mayores al 50%
clean_df = df
deleted_cols = 0
for column in df:
    sum_na_values = df[column].isna().sum()
    if sum_na_values > 0:
        percent = sum_na_values/len(df)
        
        if(percent >= 0.5):
            # print(column, ":", percent)
            clean_df = clean_df.drop([column], axis=1)
            deleted_cols += 1

print("Number of deleted columns:", deleted_cols)
print("Number of columns of the cleaned DF:", len(clean_df.columns))
print(clean_df.columns)

Number of deleted columns: 14
Number of columns of the cleaned DF: 47
Index(['EDAD', 'ETNIA', 'OBESO', 'HTA', 'DM', 'TABACO', 'HEREDA', 'TACTOR',
       'PSAPRE', 'PSALT', 'TDUPPRE', 'ECOTR', 'NBIOPSIA', 'HISTO', 'GLEASON1',
       'NCILPOS', 'BILAT', 'PORCENT', 'IPERIN', 'ILINF', 'IVASCU', 'TNM1',
       'HISTO2', 'GLEASON2', 'BILAT2', 'LOCALIZ', 'MULTIFOC', 'VOLUMEN',
       'EXTRACAP', 'VVSS', 'IPERIN2', 'ILINF2', 'IVASCU2', 'PINAG', 'MARGEN',
       'TNM2', 'PSAPOS', 'RTPADYU', 'RBQ', 'T.SEG', 'FALLEC', 'CAPRA-S', 'IMC',
       'ASA', 'GR', 'TH', 'PGG'],
      dtype='object')

In [110]:
clean_df['PORCENT'] = clean_df['PORCENT'] / 100
clean_df['VOLUMEN'] = clean_df['VOLUMEN'] / 100

In [111]:
# Si hay algun campo sin datos, lo rellenamos con la mediana de la columna
for column in clean_df:
    if(clean_df[column].isnull().values.any()):
        median = clean_df[column].median()
        clean_df[column].fillna(median, inplace=True)

In [112]:
clean_df.describe()

,EDAD,ETNIA,OBESO,HTA,DM,TABACO,HEREDA,TACTOR,PSAPRE,PSALT,...,RTPADYU,RBQ,T.SEG,FALLEC,CAPRA-S,IMC,ASA,GR,TH,PGG
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,...,204.000000,204.000000,204.000000,204.00000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,61.926471,1.029412,2.004902,1.632353,1.901961,2.102941,1.862745,1.352941,6.862990,0.209755,...,1.848039,1.955882,59.850200,1.95098,2.813725,28.349020,1.980392,1.627451,5.955882,0.001495
std,6.598215,0.219981,0.784691,0.483351,0.298099,1.233439,0.344963,0.589682,3.510452,0.161716,...,0.359866,0.285986,26.958990,0.21644,2.426173,3.806392,0.543305,0.679344,3.017684,0.017904
min,46.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.890000,0.020000,...,1.000000,1.000000,2.203947,1.00000,0.000000,19.700000,1.000000,0.000000,4.000000,0.000000
25%,57.750000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,4.865000,0.147500,...,2.000000,2.000000,40.370066,2.00000,1.000000,26.000000,2.000000,1.000000,5.000000,0.000000
50%,63.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,5.990000,0.180000,...,2.000000,2.000000,57.680921,2.00000,2.000000,27.800000,2.000000,2.000000,5.000000,0.000000
75%,67.000000,1.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,7.747500,0.210000,...,2.000000,2.000000,77.343750,2.00000,4.000000,30.100000,2.000000,2.000000,6.000000,0.000000
max,78.000000,3.000000,3.000000,2.000000,2.000000,5.000000,2.000000,3.000000,27.000000,0.990000,...,2.000000,3.000000,118.881579,2.00000,11.000000,46.000000,4.000000,2.000000,32.000000,0.250000